/* anuphan-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anuphan';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/anuphan-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anuphan-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anuphan';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/anuphan-v3-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anuphan-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anuphan';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/anuphan-v3-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anuphan-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anuphan';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/anuphan-v3-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  margin: 0;
  font-family: 'Anuphan', sans-serif;
  font-weight: 600;
  width: auto;

  background-color: #d3c9c4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-top: 112px;
}

.photo-card {
  display: block;
  width: 450px;

  border-radius: 16px;

  border: none;
}
.photo-card a {
  display: block;
  width: 450px;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
}

.photo-card a img {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.info {
  display: flex;
  padding: 8px;
  color: #02315e;

  gap: 16px;
}

.info p {
  display: block;
  text-align: center;
}

body .search-form {
  position: fixed;
}

.search-form {
  display: block;
  width: 100%;
  background-color: #9b878b;
  text-align: center;
  padding: 16px;
  margin: 0;
}

.search-form input {
  width: 50%;
  padding: 16px 32px;
  margin: 4px 8px;
  color: #02315e;

  font-size: 20px;
  border-radius: 12px;
  border: none;
}

.search-form button {
  padding: 16px 24px;
  text-align: center;
  color: #02315e;

  font-size: 20px;
  border-radius: 12px;
  border: none;

  text-decoration: none;
  margin: 4px 8px;
  cursor: pointer;
}
